.navbar-search {
    background-color: #333333;
    display: inline;

    margin-top: 12px;
    margin-right: 20px;
    padding-left: 20px;
    float: right;
    vertical-align: middle;

    height: 54px;
    width: 312px;

    font-size: 28px;
    font-weight: bold;
    color: #656565;

    border-style: none;
    border-radius: 20px;

    transition: 0.1s;
}

.navbar-search:focus {
    outline: none;
}

.navbar-search.has-options:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

::ng-deep .navbar-search::placeholder {
    color: #656565;
}

mat-option.search-option {
    background-color: #333333;
    color: #656565;
    font-weight: bold;
    font-style: italic;

    min-height: 22px;
    height: 22px;
    font-size: 18px;
    margin: 0;
    padding-top: 4px;
    padding-left: 12px;

    transition: 0.1s;
}
mat-option.search-option:hover {
    background-color: #656565;
    color: rgb(60, 236, 75);
    font-weight: bold;
    font-style: italic;

    min-height: 24px;
    height: 24px;
    font-size: 20px;
    margin: 0;
    padding-top: 4px;
    padding-left: 12px;

    transition: 0.2s;
}
