
<input class="navbar-search"
  type="text" 
  matInput 
  [matAutocomplete]="auto"
  placeholder="Szukaj gracza..."
  [(ngModel)]="searchName" 
  (keyup)="trySetupSearchSubscription()"
  [class.has-options]="searchOptions.length > 0">
<mat-autocomplete #auto="matAutocomplete" hideSingleSelectionIndicator="true">
    <a *ngFor="let basePlayer of searchOptions" (click)="openWindow(basePlayer.id)">
      <mat-option [value]="basePlayer.nick" class="search-option" >{{ basePlayer.nick }}</mat-option>
    </a>
</mat-autocomplete>