/* SELECTION CSS */
mat-label#search {
    color: #f7cb3b;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}
mat-select#search2 {
    padding-top: 4px;
    font-size: 28px;
    font-weight: bold;
    color: #f7cb3b;
}
mat-option.size-option {
    background-color: rgb(73, 73, 73);
    color: #868686;
    font-weight: bold;
    font-style: italic;

    min-height: 22px;
    height: 22px;
    font-size: 18px;
    margin: 0;
    padding-top: 4px;
    padding-left: 12px;

    transition: 0.1s;
}
mat-option.size-option:hover {
    background-color: #656565 !important;
    color: rgb(60, 236, 75) !important;
    font-weight: bold;
    font-style: italic;

    min-height: 24px;
    height: 24px;
    font-size: 20px;
    margin: 0;
    padding-top: 4px;
    padding-left: 12px;

    transition: 0.2s;
}

::ng-deep .mat-primary .mat-mdc-select-arrow {
    color: transparent;
}

::ng-deep .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: transparent;
}

/* TABLE CSS */
#stat-table {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    border-style: solid;
    border-width: 8px;
    border-top-color: #8d8d8d;
    border-right-color: #8d8d8d;
    border-bottom-color: #292929;
    border-left-color: #292929;
}

.cdk-header-row {
    font-family: 'BakemonoRegular' !important;
    font-size: 3vh;
    font-weight: bold;
}

.clickable-row {
    cursor: pointer;
    
    font-family: 'BakemonoRegular' !important;

    color: #808080;
    font-weight: normal;
    font-size: 2.4vh;
}
.clickable-row #pos {
    display: flex;
    align-items: center;
    font-size: 4vh;
    color: #656565;
} 
.clickable-row:hover {
    background-color: rgba(199, 199, 199, 0.1) !important;
    color: #E0E0E0;
    text-shadow: 0 0 0.7vh #808080;
    transition: 0.2s ease;
}

/* PAGINATION CSS */
div#pagination {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

div#pagination div#container {
    border-style: solid;
    border-top-color: #8d8d8d;
    border-right-color: #8d8d8d;
    border-bottom-color: #292929;
    border-left-color: #292929;
    border-width: 5px;
}

div#pagination div#page{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: rgb(73, 73, 73);

    height: 36px;
    padding: 0 5px;
}

div#pagination img {
    padding: 9px 5px;
    height: 18px;
}

div#pagination #page-info {
    font-family: 'KingPetrockLight' !important;
    font-size: 3.2vh;
    font-weight: bold;
    color: #f7cb3b;

    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;

    margin: 0 5px;
    border-left: 2px solid rgb(65, 65, 65);
    border-right: 2px solid rgb(65, 65, 65);
}
