<nav class="navbar">
  <div class="navbar-logo">
      <img src="assets/logo.png">
  </div>
  <ul class="navbar-links">
      <li><a id="home-link" href="http://epic-rpg.pl/"><fa-icon [icon]="house"></fa-icon> Strona główna</a></li>
      <li><a id="dc-link" href="http://dc.epic-rpg.pl/"><fa-icon [icon]="['fab', 'discord']"></fa-icon> Discord</a></li>
      <li><a id="shop-link" href="http://shop.epic-rpg.pl/"><fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon> Sklep</a></li>
  </ul>
  <app-player-search></app-player-search>
</nav>